---
title: false
styles: true
---
@font-face {
    font-family: "Monda";
    src: url("/assets/fonts/Monda/Monda-Regular.tff");
  }

  @font-face {
    font-family: "Monda-Bold";
    src: url("/assets/fonts/Monda/Monda-Bold.tff");
  }

@import "alembic";
